@model MusicProWeb.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>





<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProd" class="control-label"></label>
                <input asp-for="IdProd" class="form-control" />
                <span asp-validation-for="IdProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadStock" class="control-label"></label>
                <input asp-for="CantidadStock" class="form-control" />
                <span asp-validation-for="CantidadStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCatId" class="control-label"></label>
                <select asp-for="SubCatId" class="form-control" asp-items="ViewBag.SubCatId">
                    <option>Seleccione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label">Marca</label>
                <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId">
                    <option>Seleccione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId">
                    <option>Seleccione</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
